In [4]:
import os
import pandas as pd
homicide = pd.read_csv('D:/Python Files/EDA/homicide.csv')
homicide.head()

c:\users\dell\appdata\local\programs\python\python37\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI

## 1. Number of incidents per State per year.

In [5]:
incd = homicide[['Year','State','Record ID']]
incd = incd.groupby(['Year','State'])['Record ID'].count().reset_index()
incd.sort_values(by = 'Record ID', ascending = False)

      Year                 State  Record ID
659   1993            California       4369
609   1992            California       4195
560   1991            California       4146
709   1994            California       3962
510   1990            California       3862
758   1995            California       3760
4     1980            California       3590
460   1989            California       3412
310   1986            California       3260
361   1987            California       3166
411   1988            California       3135
808   1996            California       3101
259   1985            California       2986
106   1982            California       2976
208   1984            California       2888
55    1981            California       2885
157   1983            California       2830
856   1997            California       2773
597   1991                 Texas       2768
1256  2005            California       2651
1307  2006            California       2649
1154  2003            California       2584
1205  2004            California       2566
1103  2002            California       2549
686   1993              New York       2511
548   1990                 Texas       2485
636   1992              New York       2447
1358  2007            California       2425
586   1991              New York       2411
43    1980                 Texas       2402
...    ...                   ...        ...
884   1997          North Dakota          7
1337  2006          North Dakota          7
933   1998          North Dakota          7
674   1993                 Maine          7
198   1983               Vermont          6
842   1996          South Dakota          6
940   1998          South Dakota          6
748   1994               Vermont          6
645   1992          South Dakota          6
136   1982          North Dakota          6
539   1990          North Dakota          5
787   1995          North Dakota          5
891   1997          South Dakota          5
147   1982               Vermont          5
1133  2002          North Dakota          5
41    1980          South Dakota          5
1031  2000          North Dakota          4
588   1991          North Dakota          4
82    1981            New Mexico          4
489   1989          North Dakota          3
1438  2008          North Dakota          3
332   1986               Montana          2
1607  2012               Alabama          2
1657  2013               Alabama          2
128   1982               Montana          1
565   1991               Florida          1
1708  2014               Alabama          1
1056  2001  District of Columbia          1
737   1994          North Dakota          1
531   1990               Montana          1

[1759 rows x 3 columns]

## 2. Which month's wife's have more tendency to hurt husband?

In [6]:
wife_td = homicide[['Month','Perpetrator Sex','Relationship','Incident','Victim Sex']]
wife_td = wife_td[(wife_td['Perpetrator Sex']== 'Female') & (wife_td['Relationship']=='Husband') & (wife_td['Victim Sex']== 'Male')]
wife_td = wife_td.groupby(['Month'])['Incident'].count().reset_index()
wife_td.sort_values(by = 'Incident',ascending = False)

        Month  Incident
5        July       827
2    December       765
6        June       758
1      August       755
8         May       740
7       March       724
11  September       718
4     January       707
0       April       656
9    November       650
3    February       644
10    October       641

## 3. Number of incident involving Ex-Husband vs Ex-Wife(older or younger).

In [7]:
ex_hus_wife = homicide[['Relationship','Record ID','Victim Sex','Perpetrator Sex']]
ex_hus_wife = ex_hus_wife[((ex_hus_wife['Victim Sex']=='Male')&(ex_hus_wife['Perpetrator Sex']=='Female')&(ex_hus_wife['Relationship']=='Ex-Husband'))|
                         ((ex_hus_wife['Victim Sex']=='Female')&(ex_hus_wife['Perpetrator Sex']=='Male')&(ex_hus_wife['Relationship']=='Ex-Wife'))]
ex_hus_wife = ex_hus_wife.groupby(['Relationship'])['Record ID'].count().reset_index()
ex_hus_wife

  Relationship  Record ID
0   Ex-Husband        584
1      Ex-Wife       1844

## 4. Number of incident between Employee and Employer.

In [8]:
emp = homicide[['Relationship','Record ID']]
emp = emp[(emp['Relationship']=='Employer') | (emp['Relationship'] == 'Employee')]
emp = emp.groupby(['Relationship'])['Record ID'].count().reset_index()
emp

  Relationship  Record ID
0     Employee        384
1     Employer        509

## 5. Number of incident based on family relationship(ex: wife killed by husband etc.)

In [24]:
family = ['Brother','Sister','Mother','Son','Daughter','Husband','Wife','Father']
fam_incd = homicide[homicide['Relationship'].isin(family)]
fam_incd.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source,Family
6,7,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,May,2,Murder or Manslaughter,...,Male,27,Black,Unknown,Wife,Knife,0,0,FBI,0
7,8,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,June,1,Murder or Manslaughter,...,Male,35,White,Unknown,Wife,Knife,0,0,FBI,0
17,18,AK00103,Juneau,Municipal Police,Juneau,Alaska,1980,November,1,Murder or Manslaughter,...,Male,23,Native American/Alaska Native,Unknown,Brother,Blunt Object,0,1,FBI,Brother Killed by Brother
19,20,AK00113,Bethel,Municipal Police,Bethel,Alaska,1980,February,1,Murder or Manslaughter,...,Male,35,Native American/Alaska Native,Unknown,Brother,Handgun,0,0,FBI,Brother Killed by Brother
23,24,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,July,1,Manslaughter by Negligence,...,Male,41,Unknown,Unknown,Wife,Blunt Object,0,0,FBI,0

In [25]:
def desc(df):
    if ((df['Relationship'] == 'Brother') & (df['Perpetrator Sex'] == 'Male')):
            return "Brother killed by brother"
    elif ((df['Relationship'] == 'Brother') & (df['Perpetrator Sex'] == 'Female')):
            return "Brother killed by sister"
    elif ((df['Relationship'] == 'Sister') & (df['Perpetrator Sex'] == 'Male')):
            return "Sister killed by brother"
    elif ((df['Relationship'] == 'Sister') & (df['Perpetrator Sex'] == 'Female')):
            return "Sister killed by sister"
    elif ((df['Relationship'] == 'Mother') & (df['Perpetrator Sex'] == 'Male')):
            return "Mother killed by son"
    elif ((df['Relationship'] == 'Mother') & (df['Perpetrator Sex'] == 'Female')):
            return "Mother killed by daughter"
    elif ((df['Relationship'] == 'Father') & (df['Perpetrator Sex'] == 'Male')):
            return "Father killed by son"
    elif ((df['Relationship'] == 'Father') & (df['Perpetrator Sex'] == 'Female')):
            return "Father killed by daughter"
    elif ((df['Relationship'] == 'Son') & (df['Perpetrator Sex'] == 'Male')):
            return "Son killed by father"
    elif ((df['Relationship'] == 'Son') & (df['Perpetrator Sex'] == 'Female')):
            return "Son killed by mother"
    elif ((df['Relationship'] == 'Daughter') & (df['Perpetrator Sex'] == 'Male')):
            return "Daughter killed by father"
    elif ((df['Relationship'] == 'Daughter') & (df['Perpetrator Sex'] == 'Female')):
            return "Daughter killed by mother"
    elif ((df['Relationship'] == 'Husband') & (df['Perpetrator Sex'] == 'Female')):
            return "Husband killed by wife"
    elif ((df['Relationship'] == 'Wife') & (df['Perpetrator Sex'] == 'Male')):
            return "Wife killed by husband"
    else :
        return "unknown"

In [26]:
res = pd.DataFrame()
for i,data in fam_incd.iterrows():
    cur_row = { 
        "Record ID" : data['Record ID'],
        "Incident description" :desc(data)
    }
    res = res.append(cur_row,ignore_index=True)
fam_incd = fam_incd.merge(res)  
fam_incd.head()

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source,Family,Incident description
0,7,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,May,2,Murder or Manslaughter,...,27,Black,Unknown,Wife,Knife,0,0,FBI,0,Wife killed by husband
1,8,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,June,1,Murder or Manslaughter,...,35,White,Unknown,Wife,Knife,0,0,FBI,0,Wife killed by husband
2,18,AK00103,Juneau,Municipal Police,Juneau,Alaska,1980,November,1,Murder or Manslaughter,...,23,Native American/Alaska Native,Unknown,Brother,Blunt Object,0,1,FBI,Brother Killed by Brother,Brother killed by brother
3,20,AK00113,Bethel,Municipal Police,Bethel,Alaska,1980,February,1,Murder or Manslaughter,...,35,Native American/Alaska Native,Unknown,Brother,Handgun,0,0,FBI,Brother Killed by Brother,Brother killed by brother
4,24,AK00118,North Slope Borough,County Police,North Slope,Alaska,1980,July,1,Manslaughter by Negligence,...,41,Unknown,Unknown,Wife,Blunt Object,0,0,FBI,0,Wife killed by husband

## 6. Gender wise weapon used in incidents.

In [17]:
weap_used = homicide[['Perpetrator Sex','Record ID','Weapon']]
weap_used = weap_used.groupby(['Perpetrator Sex','Weapon'])['Record ID'].count().reset_index()
weap_used = weap_used.pivot_table(index = 'Weapon',columns = 'Perpetrator Sex', values= 'Record ID')
weap_used

Perpetrator Sex  Female    Male  Unknown
Weapon
Blunt Object       5722   45782    15833
Drowning            507     492      205
Drugs               569     827      192
Explosives           33     355      149
Fall                 29     137       24
Fire               1000    3132     2041
Firearm            1287   23103    22590
Gun                  84    1240      882
Handgun           17107  199776   100601
Knife             13748   61015    20199
Poison              155     221       78
Rifle              1450   18486     3411
Shotgun            1733   24307     4682
Strangulation       390    4019     3701
Suffocation        1051    1927      990
Unknown            3683   14722    14787

## Part 2:

## Using the amazon data answer the following:
## Create the DTM with min_df = .02 and max_df = 0.90 identify the top 3 words

In [1]:
import string
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from matplotlib import pyplot as plt
nltk.download('stopwords')

from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DeLL\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
words = set(stopwords.words('english'))
words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [9]:
amazon = pd.read_excel("D:/Python Files/EDA/Data_sets/Amazon.xlsx")
text = amazon[['reviews.text']]
print(text['reviews.text'][0])
text.head()

I initially had trouble deciding between the paperwhite and the voyage because reviews more or less said the same thing: the paperwhite is great, but if you have spending money, go for the voyage.Fortunately, I had friends who owned each, so I ended up buying the paperwhite on this basis: both models now have 300 ppi, so the 80 dollar jump turns out pricey the voyage's page press isn't always sensitive, and if you are fine with a specific setting, you don't need auto light adjustment).It's been a week and I am loving my paperwhite, no regrets! The touch screen is receptive and easy to use, and I keep the light at a specific setting regardless of the time of day. (In any case, it's not hard to change the setting either, as you'll only be changing the light level at a certain time of day, not every now and then while reading).Also glad that I went for the international shipping option with Amazon. Extra expense, but delivery was on time, with tracking, and I didnt need to worry about customs, which I may have if I used a third party shipping service.

                                        reviews.text
0  I initially had trouble deciding between the p...
1  Allow me to preface this with a little history...
2  I am enjoying it so far. Great for reading. Ha...
3  I bought one of the first Paperwhites and have...
4  I have to say upfront - I don't like coroporat...

In [10]:
## Step-1 & Step-2 & Step-3 : Converting everything into lower case and replacing the special charater

text['clear_text'] = text['reviews.text'].str.lower().str.replace('[^a-z ]','')
text.head()

c:\users\dell\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,reviews.text,clear_text
0,I initially had trouble deciding between the p...,i initially had trouble deciding between the p...
1,Allow me to preface this with a little history...,allow me to preface this with a little history...
2,I am enjoying it so far. Great for reading. Ha...,i am enjoying it so far great for reading had ...
3,I bought one of the first Paperwhites and have...,i bought one of the first paperwhites and have...
4,I have to say upfront - I don't like coroporat...,i have to say upfront i dont like coroporate ...

In [11]:
## Step-4 : Removing the stopwords

stop = stopwords.words('english')

def sw(text):
    text = [word for word in text.split() if word not in stop]
    return " ".join(text)

## Applying the sw on clear_text columns

text['text_without_stop'] = text['clear_text'].apply(sw)
print(text['clear_text'][0])
print(text['text_without_stop'][0])

i initially had trouble deciding between the paperwhite and the voyage because reviews more or less said the same thing the paperwhite is great but if you have spending money go for the voyagefortunately i had friends who owned each so i ended up buying the paperwhite on this basis both models now have  ppi so the  dollar jump turns out pricey the voyages page press isnt always sensitive and if you are fine with a specific setting you dont need auto light adjustmentits been a week and i am loving my paperwhite no regrets the touch screen is receptive and easy to use and i keep the light at a specific setting regardless of the time of day in any case its not hard to change the setting either as youll only be changing the light level at a certain time of day not every now and then while readingalso glad that i went for the international shipping option with amazon extra expense but delivery was on time with tracking and i didnt need to worry about customs which i may have if i used a third party shipping service
initially trouble deciding paperwhite voyage reviews less said thing paperwhite great spending money go voyagefortunately friends owned ended buying paperwhite basis models ppi dollar jump turns pricey voyages page press isnt always sensitive fine specific setting dont need auto light adjustmentits week loving paperwhite regrets touch screen receptive easy use keep light specific setting regardless time day case hard change setting either youll changing light level certain time day every readingalso glad went international shipping option amazon extra expense delivery time tracking didnt need worry customs may used third party shipping service

c:\users\dell\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [12]:
## Starting the count vector

vec = CountVectorizer()

vec.fit(text['text_without_stop'])

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [13]:
## DTM Matrix creation

x = vec.fit_transform(text['text_without_stop'])
x

<1597x7363 sparse matrix of type '<class 'numpy.int64'>'
	with 100770 stored elements in Compressed Sparse Row format>

In [14]:
## Convert this DTM into dataframe

DTM = pd.DataFrame(x.toarray(), columns = vec.get_feature_names())

DTM.head()

,aa,abc,abilities,abilitieswhen,ability,abit,able,aboutconclusionif,abovementioned,absolute,...,zen,zero,zerocons,zink,zip,zippy,zombiesi,zoom,zooming,zumi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Calculating the word freq

word_freq = DTM.sum()
word_freq.sort_values(ascending = False).head(3)

kindle    1499
fire      1389
like      1235
dtype: int64